<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
    <h1>Add Expenses</h1>

    <form method="POST">
        <label>Category:</label><br>
        <input type="text" name="category" required><br><br>

        <label>Details:</label><br>
        <input type="text" name="details" required><br><br>

        <label>Amount:</label><br>
        <input type="number" name="amount" required><br><br>

        <button type="submit">Add Expense</button>
    </form>

    <br><hr><br>

    <h3>Added Expenses</h3>

    <ul>
        {% for expense in expenses %}
            <li>
                {{ expense.category }} -
                {{ expense.details }} -
                ₹{{ expense.amount }}
            </li>
        {% endfor %}
    </ul>

    <br>

    <form action="/result">
        <button type="submit">Track Expense</button>
    </form>
</div>
</body>
</html>
